.navigationDesktop {
	display: none;
	margin-left: auto;
}

.navLink {
	text-decoration: none;
	color: black;
	padding: 0.2rem 3rem 0.2rem 0;
}

@media (min-width: 920px) {
	.navigationDesktop {
		display: block;
	}
}
