.roomCard {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.gallery {
  border-radius: 10px;
  overflow: hidden;
}

.info {
  padding: 0.3rem;
}

.description, .price {
  padding: 0.2rem;
  // font-size: 1rem;
  font-weight: bold;
}

@media (min-width: 920px) {
	.roomCard {
		width: calc((100% - 2rem) / 3);
	}
}