@import "~react-image-gallery/styles/scss/image-gallery.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// mobile dev
.css-9yjdhh-MuiDialogContent-root > div:first-child > div:first-child,
// desktop dev
.css-1yllih9-MuiPaper-root-MuiPickersPopper-paper > div:first-child > div:first-child {
	outline: 3px solid red !important;
	display: none;
}

.image-gallery-slide img {
	// width: 100%;
	height: 11rem;
	// max-height: 11rem !important;
	object-fit: cover !important;
	overflow: hidden;
	object-position: center center;
	// border: 3px solid green;
}

@media (min-width: 920px) {
	.image-gallery-icon {
		padding: 0;
		&:hover {
			color: white;
		}
	}

	.image-gallery-svg {
		height: 3rem !important;
		width: 2rem !important;
	}

	.image-gallery-bullet {
		padding: 3px !important;
		&:hover {
			background: white !important;
			border: 1px solid white !important;
		}
	}
}
